body{
  font-family: sans-serif;
  background-color:#e66e0b;
  color:#f7b177;
}
a{
    color:#f7b177;
    text-decoration:none;
    background-color:#ad5e1d;
    padding:10px;
    border-radius:10px;
}
header{
    text-align:center;
    background-color:#ad5e1d;
}
nav{
    text-align:center;
}
main{
    background-color:#ad5e1d;
}
img{
    width:500px;
    height:400px;
}
iframe{
    border-radius:10px;
}
footer{
    text-align:center;
}
.p{
    text-align: center;
}
